<br>
<h1> carts</h1>
<%@total =0%>
<table>
    <tr>
        <th>s. no</th>
        <th>name</th>
        <th>price</th>
        <th>Quentity</th>
        <th>SubTotal</th>
    </tr>
    <% @cart.each do |cart| %>
    <tr>
        <td><%=cart.id %></td>
        <td><%=cart.pro_name %></td>
        <td><%=cart.pro_price %></td>
        <%=form_with model: cart, url: cart_path(cart.id), method: :patch do |form| %>
        <% var= Product.find(cart.product_id)%>
        <td><%=form.number_field :pro_stok ,value: cart.pro_stok , min:0, max: var, step: 1%></td>
        <td><%=cart.subtotal %></td>
        <td><%=form.submit "update"%></td>
        <td><%= link_to "Delete",cart_path(cart.id),method: :delete %></td>
        <% end %>
        
        <td><% @total=@total+cart.subtotal %></td>
    </tr>
    <% end %>
</table>
<br>
<h1>Total:<%=@total %></h1>
<%=link_to "placeorder", orders_path,method: :post %>